body {
	margin: 0;
	background: linear-gradient(-45deg, #17eb76, #0be683, #4fe3b9, #8cd5ff, #d380ff, #f7a3f6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: 'Nova Mono', monospace;
}
/*NAVBAR & FOOTER*/
.topnav {
	position: relative;
	overflow: hidden;
	background: rgba(87, 18, 199, 0.90);
}
.topnav a img {
	height: 40px; 
}
.topnav a{ 
	float: left;
	color: rgb(38, 21, 66);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
}
.topnav #darkMode:hover {
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.topnav a:hover { 
	background-color: rgb(206, 190, 232);
	color: black;
}
.topnav a.active { 
	opacity: 0.8;
	background: linear-gradient(-45deg, #17eb76, #0be683, #4fe3b9, #8cd5ff, #d380ff, #f7a3f6);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	color: black;
}
.topnav-centered a { 
	perspective: 1000px;
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.topnav-centered a:hover img { 
	transform: rotateY(360deg);
}
.topnav-centered a img { 
	transition: transform 1.0s;
  	transform-style: preserve-3d;
}
.topnav-right { 
	float: right;
}
.footer {
	background-color: rgb(255, 197, 185);
	background-image: url(../img/logo100px.png);
  	color: #fff;
	font-size: 150%;
}
.footer .quick-links {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.8);
}
.footer p {
	font-size: 40%;
	margin: 0;
	padding-bottom: 0.4rem;
}
.footer .quicks {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	display: block;
}
.footer .quicks a{
	text-decoration: none;
	color: #ffebf6;
}
.footer .quicks li:hover {
	font-size: 120%;
	color: #cf0072;
}
.footer .quicks li {
	font-size: 60%;
}
.footer .socials-list {
	margin: 10px; 
	padding: 0;
	text-align: center;
}
.footer .socials-list li {
	display: inline;
	margin: 0 1rem;
}
.footer .socials-list li:hover {
	font-size: 120%;
}
.footer .socials-list .facebook a{
	color: #3b5998;
}
.footer .socials-list .instagram a{
	color: #e1306c;
}
.footer .socials-list .youtube a{
	color: #FF0000;
}
.footer .socials-list .github a{ 
	color: #4078c0;
}
.footer .socials-list .twitch a{
	color: #9147fe;
}
.footer .socials-list .hat a{
	color: gray;
}
/*END NAVBAR & FOOTER*/
.main-wrapper { 
	display: grid;
	grid-template-columns: repeat(4, [col] auto ); 
	grid-template-rows: auto;
	grid-gap: 10px;
	color: #444;
	max-width: 1500px;
	padding: 3rem;
	margin: 0 auto;
}
.box { 
	border-radius: 5px;
	font-size: 150%;
}
.box .box { 
	padding: 1rem;
	border-radius: 5px;
}
/*FIRST ELEMENT OF THE GRID*/
.intro-box { 
	line-height: normal;
	padding: 1rem;
	grid-column: 1 / 3;
	grid-row: 1;
}
.intro-box h1, h5, h6, p{
	margin: 10px;
}
.intro-box p {
	text-align: left;
}
/*SECOND ELEMENT(S) OF THE GRID*/
.author-box{
	min-width: 15vw;
	max-width: 20vw;
	padding: 1rem;
 	background: #262626;
 	color: #c8d2f0;
	grid-column: 4 / 5;
	grid-row: 1;
}
.author-box a {
	float: right;
	color: white;
}
.author-box a:hover {
	color: #79838f
}
.author-box content h5, p{ 
	margin: 0px;
}
.author-box-reduced{
	display: none;
}
/*THIRD ELEMENT OF THE GRID & NESTED GRID CONTAINER*/
.content-wrapper {
	padding: 1rem 1rem;
	background: white;
	grid-column: 1 / 5;
	grid-row: 2;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(2, [col] 50% );
	grid-template-rows: auto;
}
/*FIRST ELEMENT OF THE NESTED GRID*/
.contents-box {
	font-size: 100%;
	margin: auto;
	padding: 0;
	grid-column: 1 / 2;
	grid-row: 1;
}
.contents-box h2, p{
	margin: 0;
}
.contents-box ul {
	list-style: none;
	display: inline;
}
.contents-box a {
	color: #c8d2f0;
	text-decoration: none;
}
.contents-box a:hover {
	color: #3c5fd2;
	font-size: 110%;
}
.contents-box .contents-container {
	background: rgba(255, 140, 0, 0.2);
	padding: 2.5rem;
	border-radius: 5%;
	max-height: 500px;
}
/*SECOND ELEMENT OF THE NESTED GRID*/
.donation-box {
	margin: 0 2rem;
	grid-column: 2 / 3;
	grid-row: 1;
}
.donation-box h1, h2, p {
	text-align: center;
	margin: 0.5rem;
}
.donation-box p {
	font-size: 70%;
}
.donation-box #payPal a{
	color: #0079C1;
}
.collapsible {
	background: none;
	color: #3c5fd2;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	font-size: 100%;
	font-family: 'Nova Mono', monospace;
}
.active-collapsible, .collapsible:hover {
	background: #dbdbdb;	
	border-radius: 10px;
}
.collapsible-content {
  padding: 0;
  display: none;
  overflow: hidden;
}
/*THIRD ELEMENT OF THE NESTED GRID*/
.boring-posts-box{
	grid-column: 1 / 2;
	grid-row: 2;
}
/*FORTH ELEMENT OF THE NESTED GRID*/
.boring-games-box {
	grid-column: 2 / 3;
	grid-row: 2;
}
/*FIFTH ELEMENT OF THE NESTED GRID*/
.creative-games-box {
	grid-column: 1 / 2;
	grid-row: 3;
}
/*ELEMENT SIX OF THE NESTED GRID*/
.useless-box {
	grid-column: 2 / 3;
	grid-row: 3;
}
/*ELEMENT SEVEN OF THE NESTED GRID*/
.frustration-box {
	grid-column: 1 / 3;
	grid-row: 4;	
}
/*FORTH ELEMENT OF THE GRID*/
.compilation-box {
	margin: 1rem;
	border: double 5px transparent;
	border-radius: 0.5em;
	background-image: linear-gradient(#ededf2, #ededf2), linear-gradient(to right, #0e8242, #1d573d, #125442, #4c7a6d, #7521a6, #ba25b7);
	background-origin: border-box;
	background-clip: content-box, border-box;
	grid-column: 1 / 5;
	grid-row: 3;
}
.compilation-container {
	text-align: center;
	padding: 0.5rem;
}
.compilation-container a {
	text-decoration: none;
}
.compilation-container a:hover section {
	transform: scale(1.1);
	transition: 1s;
	opacity: 75%;
	animation: shake 1.5s ease-in-out 1.0s infinite;
}
.compilation-container a:hover section .link-icon i {
	visibility: visible;
}
.compilation-container .link-icon i {
	visibility: hidden;
	position: absolute;
	color: #0083b3;
	font-size: 200%;
	left: 45%;
	top: 50%;
  	transform: translateY(-50%);
}
.compilation-container .link-icon i:hover {
	color: red;
	font-size: 250%;
}
.compilation-container section svg{
	width: 250px;
	height: 100px;
	margin: auto;
	display: none;
}
.compilation-container a:focus section svg{
	display: inline-block;
}
.compilation-container section {
	padding: 0 1rem;
	margin: 1rem auto;
	display: inline-block;
	background: white;
	border-radius: 0.4em;
	width: 30%;
	min-height: 100px;
	box-shadow: 5px 10px #888888;
}
.compilation-container h3{
	margin-top: 0.5rem;
	margin-bottom: 0;
}
.compilation-container .compilation-post {
	background: #ffeea6;
}
.compilation-container .compilation-boring-game {
	background: #a0ff78;
}
.compilation-container .compilation-creative-game {
	background: #d68b6b;
}
.compilation-container .compilation-useless {
	background: #65d7eb;
}
.compilation-container .compilation-frustration {
	background: #b15fe8;
}
.compilation-container section header{
	text-shadow: 2px 2px 4px #707070;
	text-align: left;
	font-size: 60%;
	color: gray;
}
.compilation-container section header .element-date{
	float: right;
	color: #d228eb;
}
.compilation-box .compilation-container section h2 {
	padding: 0.5rem;
	font-weight: bolder;
	color: #1e0f46;
	text-decoration: underline;
	text-decoration-color: #d228eb;
}
.compilation-container section img {
	display: block;
	margin: auto;
	max-width: 260px;
	max-height: 300px;
}
.compilation-container section content {
	font-size: 80%;
	color: #1e0f46;
}
.compilation-container section footer {
	font-size: 50%;
	text-align: right;
}
/*FIFTH ELEMENT OF THE GRID*/
.comments-box {
	grid-column: 1 / 4;
	grid-row: 4;
}

.comments-box .user-icon{
	margin: 0 1rem; 
	background: #e6d1e6;
	border-radius:  1em 0 0 1em ;
	font-size: 150%;
	position: absolute;
	height: auto;
	width: auto;
	padding: 0.3rem;
  	top: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.comments-box .user-comment-icon {
	background: rgba(149, 245, 66, 0.8);
	border-radius: 1em;
	margin: 0 1.5rem;
	font-size: 80%;
	position: absolute;
	padding: 0 0.5rem 0 0.5rem;
  	top: 50%;
  	transform: translate(-50%, -50%);
}
.comments-box input{
	margin: 0 1.5em; 
	background: #e3e3e3;  
	border: none;  
	border-radius: 0 1em 1em 0;
	font-size: 100%;
	padding: 1rem;
	max-width: 90%;
	min-width: 75%;
	overflow: hidden;
}
.comments-box input:focus{
	padding: 0.85rem;
}
.comments-box h2{
	text-align: left;
}
.comments-box .comment-container {
	position: relative;
}
.comments-box .comments-container {
	position: relative;
	display: inline-block;
	margin: 0.1rem;
	background: rgba(232, 86, 174, 0.6);
	padding: 0.1rem;
	border-radius: 0.5em;
}
.comments-box .comments-container  p {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0.5em;
	padding: 0.3rem;
	margin-left: 3.5em;
	text-align: left;
	font-size: 55%;
}	
.comments-box .comments-container  h6 {
	color: #003d23;
	font-size: 30%;
	text-align: right;
}
.comments-box .comments-container  h6 a {
	text-decoration: none;
	color: #003d23;
}
.comments-box .comments-container  h6 a:hover {
	color: #1b4ca8;
	font-size: 200%;
}
/*ELEMENT SIX OF THE GRID*/
.contact-box {
	margin-bottom: 2em;
	grid-column: 4 / 5;
	grid-row: 4;
}
.contact-box form {
	text-align: center;
	background: rgba(240, 201, 211, 0.8);
	box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 5px solid #9c0087;
	animation: bounce 1.5s infinite;
	font-size: 1rem;
}
.contact-box form .page-title {
	font-size: 150%;
	text-decoration: underline;
	color: #560c6b;
	margin-bottom: 1rem;
}
.contact-box form input {
	background-color: #ebebeb;
  	padding: 0.8rem;
}
.contact-box form input:hover{
	border-bottom: 5px solid #9c0087;
	transform: scale(1.1);
	transition: ease 0.5s;
}
.contact-box form .message {
	background-color: #ebebeb;
	overflow: hidden;
	height: 5rem;
}
.contact-box form .message:hover{
	border-bottom: 5px solid #9c0087;
	transform: scale(1.1);
	transition: ease 0.5s;
}
.contact-box form .formEntry {
	display: block;
	margin: 1rem auto;
	min-width: 200px;
	padding: 10px;
	border-radius: 2px;
	border: none;
	transition: all 0.5s ease 0s;
}
.contact-box form .submit{
	cursor: pointer;
}
/*ELEMENT SEVEN OF THE GRID*/
.mailbox-box {
	background-image: url("../img/logo600px.png");
	background-repeat: no-repeat;
	background-position: left;
	background-color: rgba(161, 209, 212, 0.9);
	grid-column: 1 / 5;
	grid-row: 5;
}
.mailbox-box .container-contact{
	background-color: rgba(0, 0, 0, 0.1);
	min-height: 400px;
	margin: auto;
	width: 60%;
	float: right;
}
.mailbox-box .container-contact h2{
	margin: 0;
}
.mailbox-box .container-contact:hover h2{
	text-decoration: underline;
	animation: disappear 1.5s ease-out;
	color: #e34068;
}
.mailbox-box .container-contact .subscribe{
	visibility: hidden;
	text-align: center;
	font-size: 120%;
	margin: 1em;
	color: #4b276e;
}
.mailbox-box .container-contact:hover .subscribe{
	visibility: visible;
}
.mailbox-box .container-contact form input {
	background-color: #ebebeb;
  	padding: 0.8rem;
}
.mailbox-box .container-contact form .formEntry {
	display: block;
	margin: 1rem auto;
	min-width: 200px;
	padding: 10px;
	border-radius: 2px;
	border: none;
	transition: all 0.5s ease 0s;
}
.mailbox-box .container-contact form .submit { 
	cursor: pointer;
	background: #c91274;
	font-size: 120%;
}
/*Posts Page*/
.posts_title{
	text-align: center;
	color: #5c5a5c;
	font-size: 350%;
	text-shadow: 4px 4px 4px #5c5a5c;
}
.posts_wrapper {
	margin: auto;
	width: 85%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: space-around;
	padding: 0.5em;
}
.posts_wrapper figure {
	text-align: center;
	margin: 0.5rem 1rem;
	padding: 1rem;
	border-radius: 0.8em;
	background: #ffeea6;
	box-shadow: 4px 4px gray;
	max-width: 40%;
}
.posts_wrapper figure img {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 1em;
	max-width: 350px;
	max-height: 350px;
	width: 80%;
	height: auto;
}
.posts_wrapper figure figcaption {
	padding: 1rem;
	font-size: 150%;
	color: #444;
	padding-bottom: 0;
}
.posts_wrapper figure a {
	text-decoration: none;
}
.posts_wrapper figure img:hover{
	opacity: 0.75;
}
.posts_wrapper figure details { 
	margin-top: 1rem;
	cursor: pointer;
	background: #8cd5ff;
	padding: 0.4rem;
	border-radius: 1em;
}
.posts_wrapper figure details footer { 
	text-align: right;
	font-size: 80%;
	color: rgb(87, 18, 199);
}
/*About Page*/
.about-wrapper {
	display: grid;
	grid-template-columns: repeat(2, [col] 30% 70% );
	grid-template-rows: auto;
	grid-gap: 10px;
	color: #444;
	max-width: 1500px;
	padding: 0 3rem;
	margin: 0 auto;
}
.about-wrapper .word-cloud {
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 1;
}
.about-wrapper .word-cloud h1 {
	text-shadow: 2px 2px 1px gray;
}
.about-wrapper .word-cloud figcaption {
	font-size: 90%;
}
.about-wrapper .word-cloud details {
	width: 75%;
	margin: 1rem auto;
	color: #6e0e6e;
}
.about-wrapper .word-cloud details summary {
	color: #210021;
	font-size: 150%;
	padding: 0.5rem;
	border-radius: 1em;
	background: rgb(0, 0, 0, 0.2);
}
.about-wrapper .word-cloud details h3{
	color: #210421;
}

.about-wrapper .word-cloud details ul{
	width: 50%;
	margin: auto;
	text-align: left;
	padding-bottom: 1rem;
}
.about-wrapper .word-cloud details svg polygon:hover {
	opacity: 0.5 !important;
}
.about-wrapper .word-cloud img {
	width: 65%;
	margin: auto;
	height: auto;
}
.about-wrapper .videos-wrapper {
	background-image: url("../img/logo100px.png");
	background-repeat: repeat;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	border-left: 5px solid #9c0087;
	border-top: 5px solid #d20f3c;
	border-right: 5px solid #9c0087;
	grid-column: 1 / 2;
	grid-row: 2 / 4;
}
.about-wrapper .videos-wrapper h1 {
	font-size: 200%;
	text-shadow: 1px 1px 2px gray;
	background-color: #cb91ed;
	text-align: center;
	border-radius: 0.3em 0.3em 0 0;
	padding: 0.5rem;
	margin: 0;
}
.about-wrapper .videos-wrapper iframe {
	margin: 1rem 0;
	width: 100%;
}
.about-wrapper .table-one {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.about-wrapper table {
	margin-top: 5em; 
	border-collapse: collapse;
	width: 100%;
}
.about-wrapper table caption {
	font-size: 150%;
}
.about-wrapper table thead tr {
	background-color: #23ba8a;	
	text-align: left;
}
.about-wrapper table th, td {
	padding: 0.5rem 0.6rem;
}
.about-wrapper table .inner-item {
	border-right: 1px solid #23ba8a;
}
.about-wrapper table tbody tr {
	border-bottom: 1px solid #23ba8a;
}
.about-wrapper table tbody tr:nth-of-type(even) {
	background-color: rgba(255, 140, 0, 0.2);
}
.about-wrapper table tfoot tr {
	text-align: right;
	font-size: 80%;
}
.about-wrapper .table-two {
	grid-column: 2 / 3;
	grid-row: 3 / 5;
}
.about-wrapper .extra{
	grid-column: 1 / 2;
	grid-row: 5;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes shake {
  0% {
  	transform: rotateZ(0deg);
  }
  30% {
	transform: rotateZ(-5deg);
  }
  60% {
	transform: rotateZ(5deg);
  }
  80% {
	transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0, 5px);
  }
  60% {
    transform: translate(0, 10px);
  }
} 
@keyframes disappear {
	0% {
		color: #e34068;
	}
	70% {
		opacity: 0.1;
		display: none;
	}
}
@media only screen and (min-width: 1500px) {
	.about-wrapper {
		grid-template-columns: repeat(2, [col] 50% );
		padding: 4rem;
	}
	.about-wrapper .word-cloud img {
		width: 80%;
	}
	.about-wrapper .word-cloud {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}
	.about-wrapper .videos-wrapper{
		grid-column: 1 / 2;
		grid-row: 3 / 5;
	}
	.about-wrapper .table-one{
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.about-wrapper .table-two{
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
	.about-wrapper .extra{
		grid-column: 2 / 3;
		grid-row: 5;
	}
}
@media only screen and (max-width: 1000px) {
	.author-box{
		display: none;
	}
	.intro-box {
		grid-column: 1 / 4;
		grid-row: 1;
	}
	.author-box-reduced{
		display: inline;
		grid-column: 1 / 5;
		grid-row: 2;
	}
	.author-box-reduced a { 
		color: black;
		text-decoration: none;
	}
	.author-box-reduced a:hover {
		font-size: 110%;
		opacity: 0.5;
	} 
	.author-box-reduced i{
		color: black;
		text-align: center;
	}
	.author-box-reduced i:hover{
		color: gray;
	}
	.content-wrapper {
		grid-column: 1 / 5;
		grid-row: 3;
	}
	.contents-box .contents-container {
		max-width: 300px;
	}
	.compilation-box {
		grid-column: 1 / 5;
		grid-row: 4;
	}
	.comments-box {
		grid-column: 1 / 5;
		grid-row: 5;
	}
	.contact-box {
		grid-column: 1 / 5;
		grid-row: 6;
	}
	.mailbox-box {
		grid-column: 1 / 5;
		grid-row: 7;
	}
	.compilation-container section img {
		max-width: 220px;
	}
}
@media only screen and (min-width: 901px) {
	nav {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
}
@media only screen and (max-width: 900px) {
	.content-wrapper {
		grid-template-columns: repeat(1, [col] auto );
		padding: 10px;
	}
	.contents-box {
		margin: 0;
		grid-column: 1;
		grid-row: 1;
	}
	.contents-box .contents-container {
		border-radius: 2%;
		margin: 0;
		text-align: center;
		max-width: none;
	}
	.donation-box {
		grid-column: 1;
		grid-row: 2;
	}
	.boring-posts-box{
		grid-column: 1;
		grid-row: 3;
	}
	.boring-games-box {
		grid-column: 1;
		grid-row: 4;
	}
	.creative-games-box {
		grid-column: 1;
		grid-row: 5;
	}
	.useless-box {
		grid-column: 1;
		grid-row: 6;
	}
	.frustration-box {
		grid-column: 1;
		grid-row: 7;	
	}
	.topnav{
		width: 100%;
	}
	.topnav a, .topnav-right {
		float: none;
		display: block
	}
	.topnav-centered a {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
	.donation-box{
		font-size: 100%;
	}
	.compilation-box {
		margin: 1rem 0;
	}
	.compilation-container section {
		width: 90%;
		display: block;
	}
	.comments-box h2{
		text-align: center;
	}
	.comments-box input{

	}
	.comments-box form{
		margin: 1rem;
	}
	.mailbox-box .container-contact{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: #e2dcf5;
	}.mailbox-box {
		background-position: center;
	}
	.posts_wrapper figure {
		max-width: none;
		min-width: 90%;
	}
	.about-wrapper {
		grid-template-columns: repeat(1, [col] auto );
		padding: 5%;
	}
	.about-wrapper .word-cloud {
		grid-column: 1;
		grid-row: 1;
	}
	.about-wrapper .word-cloud img {
		width: 95%;
	}
	.about-wrapper .videos-wrapper{
		grid-column: 1;
		grid-row: 2;
	}
	.about-wrapper .table-one{
		grid-column: 1;
		grid-row: 3;
	}
	.about-wrapper .table-two{
		grid-column: 1;
		grid-row: 4;
	}
	.about-wrapper .extra{
		grid-column: 1;
		grid-row: 5;
	}
}
@media only screen and (min-width: 701px) and (max-width: 900px)  {
	.main-wrapper {
		padding: 1.5rem;
	}
}
@media only screen and (min-width: 541px) and (max-width: 700px)  {
	.main-wrapper {
		padding: 0.5rem;
		margin: 1rem 0;
	}
}
@media only screen and (max-width: 540px)  {
	.main-wrapper {
		padding: 0;
		margin: 1rem 0;
	}
	.comments-box input{
		width: 80%;
	}
	.about-wrapper {
		padding: 0;
	}
	.about-wrapper .word-cloud details ul{
		width: 90%;
		margin: auto;
		text-align: left;
	}
}