<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/layout_example_style.css">
	<title>BoringWeb</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<div class="nav">Nav</div>
	<div class="about-wrapper">
		<div class="box word-cloud"> Tree </div>
		<div class="box table-one">Table1</div>
		<div class="box table-two">Table2</div>
		<div class="box videos-wrapper">Videos</div>
		<div class="box extra">Links</div>
		<div class="box layouts">Layouts</div>
	</div>
	<div class="footer">Footer</div>
</body>
</html>