<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/layout_example_style.css">
	<title>BoringWeb</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<div class="nav">Nav</div>
	<div class="games-wrapper">
		<h1 id="games-section-title">Boring Games</h1>
		<section class="games-section">
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
		</section>
		<h1 id="games-section-title">Boring Games</h1>
		<section class="games-section">
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
		</section>
		<h1 id="games-section-title">Frustrating Games</h1>
		<section class="games-section">
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
			<section class="game-container">
				<h2>Name</h2>
				<article>
					<figure>
						GAME
						<figcaption>Game Details</figcaption>
						<hr>
						<details>
							<summary>Read Rules</summary>
							<p>The rules of this games</p>
							<p>This game is based on this other game</p>
							<footer>Developed by DoggoMaster09 on Mon 18 Sep 21</footer>
						</details>
					</figure>
					<aside>STAT</aside>
				</article>
			</section>
		</section>
	</div>
	<div class="footer">Footer</div>
</body>
</html>